In [1]:
#2-1

import pandas as pd
import numpy as np

purchaseData = pd.read_csv("purchase_data.csv")

players = purchaseData["SN"].drop_duplicates()                                  #把相同玩家去掉

playerCount = pd.DataFrame({"Total Players": [players.count()]})                #數人數

playerCount

   Total Players
0            576

In [2]:
#2-2

import pandas as pd
import numpy as np

purchaseData = pd.read_csv("purchase_data.csv")

numOfUniqueItems = purchaseData["Item ID"].drop_duplicates().count()                    #計算number of unique items

avgPrice = "$" + str(round(purchaseData["Price"].mean(), 2))                            #計算價格平均數，四捨五入

numOfPurchases = len(purchaseData)                                                      #計算總購買數量

totalRev = "$" + str(round(purchaseData["Price"].sum(), 2))                             #計算總收入，四捨五入

ans = pd.DataFrame({"Number of Unique Items": [numOfUniqueItems],
                    "Average Price": [avgPrice],
                    "Number of purchases": [numOfPurchases],
                    "Total Revenue": [totalRev]})

ans

   Number of Unique Items Average Price  Number of purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [3]:
#2-3

import pandas as pd
import numpy as np

purchaseData = pd.read_csv("purchase_data.csv")

purchaseData = purchaseData.drop_duplicates(subset = "SN")                       #留下玩家身分不重複的資料

maleSum = purchaseData.groupby("Gender").get_group("Male")                       #計算男性玩家人數
maleSum = maleSum["Gender"].count()

femaleSum = purchaseData.groupby("Gender").get_group("Female")                   #計算女性玩家人數
femaleSum = femaleSum["Gender"].count()

otherSum = purchaseData.groupby("Gender").get_group("Other / Non-Disclosed")     #計算其他性別玩家人數
otherSum = otherSum["Gender"].count()

total = maleSum + femaleSum + otherSum                                           #計算玩家總人數

percentageOfPlayers = [(maleSum / total) * 100,                                  #計算百分比，建立清單
                       (femaleSum / total) * 100,
                       (otherSum / total) * 100]

percentageOfPlayers = round(pd.Series(percentageOfPlayers), 2)                   #轉成series，四捨五入

totalCount = pd.Series([maleSum, femaleSum, otherSum])                           #totalCount建立series

ans = pd.concat([percentageOfPlayers, totalCount], axis = 1)                     #把兩個series合併成dataframe   

ans = ans.rename(index = {0: "Male",                                             #重新命名index和columns
                          1: "Female",
                          2: "Other / Non-Disclosed"},
                 columns = {0: "Percentage of Players",
                            1: "Total Count"})

ans

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11

In [4]:
#2-4  #3x2??

import pandas as pd
import numpy as np

purchaseData = pd.read_csv("purchase_data.csv")


f = purchaseData.groupby("Gender").get_group("Female")                     
fPurchase = f["Item Name"].count().sum()                                        #計算女性購買的次數
fAvgPP = round(f["Price"].mean(), 5)                                            #計算女性平均購買的價錢
ftotalPP = round(f["Price"].sum(), 5)                                           #計算女性購買的總價錢


m = purchaseData.groupby("Gender").get_group("Male")                       
mPurchase = m["Item Name"].count().sum()                                        #計算男性購買的次數
mAvgPP = round(m["Price"].mean(), 5)                                            #計算男性平均購買的價錢
mtotalPP = round(m["Price"].sum(), 5)                                           #計算男性購買的總價錢



o = purchaseData.groupby("Gender").get_group("Other / Non-Disclosed")      
oPurchase = o["Item Name"].count().sum()                                        #計算其他性別購買的次數
oAvgPP = round(o["Price"].mean(), 3)                                            #計算其他性別平均購買的價錢
ototalPP = round(o["Price"].sum(), 5)                                           #計算其他性別購買的總價錢



purchaseCount = pd.Series([fPurchase, mPurchase, oPurchase])                    #建立series
avgPurchasePrice = pd.Series([fAvgPP, mAvgPP, oAvgPP])
totalPurchaseValue = pd.Series([ftotalPP, mtotalPP, ototalPP])



purchaseData = purchaseData.drop_duplicates(subset = "SN")                      #留下玩家身分不重複的資料


femaleSum = purchaseData.groupby("Gender").get_group("Female")                  #計算女性玩家人數
femaleSum = femaleSum["Gender"].count()

maleSum = purchaseData.groupby("Gender").get_group("Male")                      #計算男性玩家人數
maleSum = maleSum["Gender"].count()

otherSum = purchaseData.groupby("Gender").get_group("Other / Non-Disclosed")    #計算其他性別玩家人數
otherSum = otherSum["Gender"].count()


totalCount = pd.Series([femaleSum, maleSum, otherSum])                          #totalCount建立series


avgPTPP = []

for i in range(3):                                                              #計算average purchase total per person
    avgPTPP.append("$" + str(round(totalPurchaseValue[i] / totalCount[i], 2)))
avgPTPP = pd.Series(avgPTPP)



ans = pd.concat([purchaseCount,                                                 #把四個series合併成dataframe
                 avgPurchasePrice,
                 totalPurchaseValue,
                 avgPTPP], axis = 1)                               

ans = ans.rename(index = {0: "Female",                                          #重新命名index和columns
                          1: "Male",
                          2: "Other / Non-Disclosed"},
                 columns = {0: "Purchase Count",
                            1: "Average Purchase Price",
                            2: "Total Purchase Value",
                            3: "Avg Purchase Total per Person"})

ans

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Female,113,3.20301,361.94,$4.47
Male,652,3.01785,1967.64,$4.07
Other / Non-Disclosed,15,3.34600,50.19,$4.56

In [5]:
#2-5

import pandas as pd
import numpy as np

purchaseData = pd.read_csv("purchase_data.csv")

purchaseData = purchaseData.drop_duplicates(subset = "SN")

ageRange = pd.cut(purchaseData["Age"], [-1, 9, 14, 19, 24, 29, 34, 39, 100],                     #分區間
                  labels = ["", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])    #命名區間

rangeCount = ageRange.value_counts()                                                               #計算每個區間內的人數

rangeCount = rangeCount.reindex(["", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])   #重新排序


percentage = []

for i in range(len(rangeCount)):                                                                   #計算區間人數佔總人數的百分比
    percentage.append(rangeCount[i] / purchaseData["SN"].count())
percentage = round(pd.Series(percentage) * 100, 2)


ans = pd.DataFrame(rangeCount)                                                                     #建立dataframe
ans["Percentage"] = percentage.values                                                            #把百分比加入dataframe

ans = ans.rename(columns = {"Age": "Total Count"})                                               #重新命名column
ans = ans.reindex(["Percentage", "Total Count"], axis = 1)                                       #重新排序

ans

       Percentage  Total Count
             2.95           17
10-14        3.82           22
15-19       18.58          107
20-24       44.79          258
25-29       13.37           77
30-34        9.03           52
35-39        5.38           31
40+          2.08           12

In [6]:
#2-6  #column 1 小數點

import pandas as pd
import numpy as np

purchaseData = pd.read_csv("purchase_data.csv")


ageRange_list = ["", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

ageRange = pd.cut(purchaseData["Age"], [-1, 9, 14, 19, 24, 29, 34, 39, 100],              #分區間
                  labels = ageRange_list)                                                 #命名區間


purchaseData = pd.concat([purchaseData, ageRange], axis = 1)                              #把ageRange合併到dataframe

purchaseData.columns.values[7] = "Age Range"                                              #重新命名column


purchaseCount = []

def purchase_count(aString):                                                              #計算每個年齡區間的purchase count
    purchaseCount.append(
        purchaseData.groupby("Age Range").get_group(aString)["Item Name"].count())

for i in range(len(ageRange_list)):                                                       #重複呼叫purchase_count函數
    purchase_count(ageRange_list[i])
purchaseCount = pd.Series(purchaseCount)



avgPP = []

def avg_purchase_price(aString):                                                          #計算每個年齡區間的avg purchase price
    avgPP.append(
        "$" + str(round(purchaseData.groupby("Age Range").get_group(aString)["Price"].mean(), 2)))

for i in range(len(ageRange_list)):                                                       #重複呼叫avg_purchase_price函數
    avg_purchase_price(ageRange_list[i])
avgPP = pd.Series(avgPP)



totalPV = []
totalPV_int = []

def total_purchase_value(aString):                                                        #計算每個年齡區間的total purchase value
    totalPV.append(
        "$" + str(round(purchaseData.groupby("Age Range").get_group(aString)["Price"].sum(), 2)))
    totalPV_int.append(purchaseData.groupby("Age Range").get_group(aString)["Price"].sum())
    
for i in range(len(ageRange_list)):                                                       #重複呼叫avg_purchase_price函數
    total_purchase_value(ageRange_list[i])
totalPV = pd.Series(totalPV)



purchaseData = purchaseData.drop_duplicates(subset = "SN")

ageRange = pd.cut(purchaseData["Age"], [-1, 9, 14, 19, 24, 29, 34, 39, 100],              #分區間
                  labels = ageRange_list)                                                  #命名區間

rangeCount = ageRange.value_counts()                                                      #計算每個區間內的人數
rangeCount = rangeCount.reindex(ageRange_list)                                            #重新排序


avgPTPP = []

for i in range(len(totalPV_int)):                                                        #計算average purchase total per person
    avgPTPP.append("$" + str(round(totalPV_int[i] / rangeCount[i], 2)))
avgPTPP = pd.Series(avgPTPP)

ans = pd.concat([purchaseCount, avgPP, totalPV, avgPTPP], axis = 1)                     #把四個series合併成dataframe
ans = ans.set_axis(ageRange_list, axis = 0)                                             #重新命名index
ans = ans.set_axis(["Purchase Count",                                                   #重新命名columns
                    "Average Purchase Price",
                    "Total Purchase Value",
                    "Average Purchase Total per Person"], axis = 1)

ans

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [7]:
#2-7  #4*2??

import pandas as pd
import numpy as np

purchaseData = pd.read_csv("purchase_data.csv")

spenders = purchaseData.groupby("SN").agg("sum")                                        #計算各個SN的花費總額

spenders = spenders.sort_values(by = ["Price"], ascending = False).head()               #依花費總額排序
spenders = spenders.drop(["Purchase ID", "Age", "Item ID"], axis = 1)                   #刪除不必要的columns


totalPV = []

for i in range(len(spenders)):                                                          #把花費總額轉成string，在前面加 $
    totalPV.append("$" + str(round(spenders["Price"][i], 2)))
spenders["Total Purchase Value"] = totalPV


count = purchaseData["SN"].value_counts()                                              #計算各個SN的購買次數

purchaseCount = []

for i in range(len(spenders)):                                                         #找出 top spenders 的購買次數
    purchaseCount.append(count[spenders.index[i]])
spenders["Purchase Count"] = purchaseCount                                             #加入dataframe


avgPP = []

for i in range(len(spenders)):                                                         #計算 average purchase price
    avgPP.append(
        "$" + str(round(spenders["Price"][i] / spenders["Purchase Count"][i], 2)))
spenders["Average Purchase Price"] = avgPP

spenders = spenders.drop("Price", axis = 1)                                            #刪除不必要的column
spenders = spenders.reindex(                                                           #重新排序columns
    columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"])

spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                   $3.4               $13.62
Iskadarya95               3                  $4.37                $13.1

In [8]:
#2-8  #4*4??  #item name粗體??

import pandas as pd
import numpy as np

purchaseData = pd.read_csv("purchase_data.csv")

mostPop = purchaseData["Item ID"].value_counts().head()                                    #計算每種商品的購買人數

mostPop = pd.DataFrame(mostPop)                                                            #轉成dataframe

mostPop = mostPop.rename(columns = {"Item ID": "Purchase Count"})                          #重新命名columns

mostPop = mostPop.reset_index()                                                            #建立新index

mostPop = mostPop.rename(columns = {"index": "Item ID"})                                   #重新命名columns



itemName = []
itemPrice = []
itemPriceNum = []

for i in range(len(mostPop)):                                                              #找出 top 5 受歡迎商品的名稱
    mostPopNew = purchaseData.groupby("Item ID").get_group(mostPop.loc[i]["Item ID"])
    mostPopNew = mostPopNew.reset_index()

    itemName.append(mostPopNew["Item Name"][0])
    itemPrice.append("$" + str(mostPopNew["Price"][0]))
    itemPriceNum.append(mostPopNew["Price"][0])
    
itemName = pd.Series(itemName)
itemPrice = pd.Series(itemPrice)

itemID = mostPop["Item ID"]

purchaseCount = mostPop["Purchase Count"]


totalPV = []

for i in range(len(itemID)):                                                               #計算 total purchase value
    totalPV.append("$" + str(round(itemPriceNum[i] * purchaseCount[i], 2)))
totalPV = pd.Series(totalPV)

    
ans = pd.concat([itemID, itemName, purchaseCount, itemPrice, totalPV], axis = 1)           #合併成dataframe
ans = ans.set_axis(["Item ID", "Item Name", "Purchase Count",
                    "Item Price", "Total Purchase Value"], axis = 1)                       #重新命名columns
ans = ans.set_index("Item ID")                                                             #把index設為Item ID

ans

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.9,$44.1
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [9]:
#2-9  #float??  #bold??

import pandas as pd
import numpy as np

purchaseData = pd.read_csv("purchase_data.csv")

items = purchaseData.groupby(["Item ID", "Item Name"]).agg("sum")                         #計算各個item的花費總額

items = items.sort_values(by = ["Price"], ascending = False).head()                       #依花費總額排序

items = items.drop(["Purchase ID", "Age"], axis = 1)                                      #刪除不必要的columns

items = items.reset_index()                                                               #重新命名index


count = []

for i in range(len(items["Item ID"])):                                                    #計算 purchase count
    count.append(
        purchaseData.groupby("Item ID").get_group(items["Item ID"][i]).count()["SN"])
items["Purchase Count"] = count                                                           #加入dataframe


itemPrice = []

for i in range(len(spenders)):                                                            #計算 item price
    itemPrice.append(
        "$" + str(round(items["Price"][i] / items["Purchase Count"][i], 2)))
items["Item Price"] = itemPrice                                                           #加入dataframe


totalPV = []

for i in range(len(items)):                                                               #把花費總額轉成string，在前面加 $
    totalPV.append("$" + str(round(items["Price"][i], 2)))
items["Total Purchase Value"] = totalPV
    
items = items.drop("Price", axis = 1)                                                     #刪除不必要的column
    
items = items.set_index("Item ID")                                                        #重新設定index

items

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.9,$44.1
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.8